**~
**.pyc
**.swp
*.h5
*profile*
*.*prof
*.png
timing*
*.pro
*.txt
??
*.xml
output*
build-*
config.log
config.py
.sconf_temp
.sconsign.dblite
build/*
dist/*
docs/doctrees
*.egg-info
**credentials.hh
.project
.pydevproject
**database.xml
.external
.use.db
docs/build
web/tao/django.log
web/tao/static/docs
web/tao/my_development.py
web/tao/online_development.py
web/tao.db
environ
develop.sh
**db.sqlite3

**.log
**.out
**.aux

taoui/taoui/settings/local.py
taoui/taoui/settings/production.py
taoui/taoui/application_production.fcgi
